<div class="module">
  <h1>Личный кабинет </h1>
</div>
 <!-- Section
    ================================================== -->
<section>
	<div class="container">
		<div class="row">
   			<router-outlet></router-outlet>
				
<!-- Content - left
 ================================================== -->
			<div class="content_left col-sm-4 col-sm-pull-8 col-lg-3 col-lg-pull-9">
				<aside>
					<div class="box ">
						<div class="panel-group" >
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										{{user.name}} {{user.surname}}
									</h4>
								</div>
								<div class="list-group">
									<a routerLink = "/user/data" class="list-group-item">
										<span>Мои данные</span>
									</a>
									<a routerLink = "/user/myitems" class="list-group-item">
										<span>Мои покупки({{user.items.length}})</span>
									</a>
									<a routerLink = "/user/cart" class="list-group-item">
										<span>Моя корзина({{user.cart.length}})</span>
									</a>	
									<a routerLink = "/user/data" class="list-group-item">
										<span>Мои размеры</span>
									</a>
									<a routerLink = "/user" class="list-group-item">
										<span>Заказать рубашку</span>
									</a>		
								</div>
							</div>
						</div>
					</div>
				</aside>
			</div>
		</div>
	</div>		
</section>			 			 